/* General Styles */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 218, 185); /* Peach background */
    font-family: 'JetBrains Mono', monospace;
    font-size: 22px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(0,0,0);
    transition: background-color 10s ease, color 10s ease; /* Smooth transition */
}

body {
    padding: env(safe-area-inset);
}

h1, p, .desc, #sign, .social-link, #signature {
    color: rgb(0,0,0);
    transition: color 10s ease; /* Add transition to all text elements */
}

h1 {
    font-size: 40px;
}

p, .desc, #sign {
    width: auto;
    margin: 0 auto;
    max-width: 359px; /* Match this with the container max-width */
}

.desc {
    margin-bottom: 50px;
}

.social ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 25px;
    padding: 0;
}

.social li {
    list-style: none;
    margin-right: 15px;
}

.social-link {
    border-radius: 5px;
    font-size: 18px;
}

.social-link:hover {
    color: #ffffff;
    text-decoration: overline;
}

#signature {
    font-size: 30px;
    margin-top: 7px;
    line-height: 100%;
}

#sign {
    margin-top: -15px;
}

.name {
    margin-bottom: -5px;
}

/* Space Mode Styles */
body.space-mode {
    background-color: rgb(10, 10, 11);
    color: rgb(255, 218, 185); /* Changed to peach color */
}

body.space-mode h1,
body.space-mode p,
body.space-mode .desc,
body.space-mode #sign,
body.space-mode a,
body.space-mode a.social-link,
body.space-mode #signature {
    color: rgb(255, 218, 185); /* Changed to peach color */
}

/* Star Canvas Styles */
#starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Ensure content is above the canvas */
body * {
    position: relative;
    z-index: 2;
}

/* Container Styling */
.container {
    max-width: 359px;
    margin: 0 auto;
}

/* Viewport Fit */
@viewport {
    width: device-width;
    initial-scale: 1;
    viewport-fit: cover;
}

/* Additional Styling */
#signature a, #signature a:visited {
    color: inherit; 
    text-decoration: none; 
}
