.project-list {
  list-style: none;
  padding: 0;
  margin-top: 4rem;
}

.project-item {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project-item:last-child {
  border-bottom: none;
}

.project-title {
  font-size: 1.2em;
  margin: 0 0 0.5rem 0;
}

.project-description {
  margin: 0.5rem 0;
}

.project-tech {
  font-size: 0.9em;
  color: rgb(100, 100, 100);
  margin-top: 1rem;
}

.project-links {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.project-link {
  font-size: 0.9em;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  border: 1px solid rgba(107, 92, 165, 0.4);
  background-color: rgba(107, 92, 165, 0.05);
  color: #6b5ca5;
}

.project-link:hover {
  background-color: rgba(107, 92, 165, 0.1);
  border-color: rgba(107, 92, 165, 0.6);
}
